.tooltip {
  top: -5px;
  left: 105%;
}

.tooltip-trigger .tooltip::after{
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.allocated-points {
  position: absolute;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 0 3px;
  z-index: 2;

  background-color: #000;
  border-radius: 4px;
  color: #fff;
  text-shadow: 1px 1px 0 #242424, 0 1px 0 #242424, -1px 1px 0 #242424, -1px 0 0 #242424, -2px 0 #242424, -1px 0 #242424, 0px 0 #242424, 1px 0 0 #242424;
  pointer-events: none;
}

.points-rectangle {
  width: 30px;
  height: 20px;
  background-color: black;
  position: absolute;
  bottom: 0%;
  left: 50%;
  right: 0%;
}

.shaman-text {
  font-size: 24px;
  color: 	#0070DD;
}

.points {
  font-size: 20px;
  color: white;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-separator {
  background-color: #0070DD;
  height: 2px;
  width: 100vw;
}

.talent-graph-bar {
  background: #15171e;
  height: 56px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15171e;
  font-size: 18px;
  font-weight: bold;
  gap: 6px;
}

.gap {
  margin-left: 20px;
}

.alert {
  margin-bottom: 16px,
}